body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

.top-desc {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  background-color: #1597BB;
}

.sl {
  font-weight: bold;
}

.main-heading, .sub-heading, p {
  color: #FFF;
}

.mid-div {
  margin-bottom: 60px;
  padding-bottom: 20px;
  background-color: #1597BB;
}

.bottom-div {
  margin-bottom: 7%;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: solid;
  border-color: grey;
  border-width: 5px;
  width: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.btn-cust {
  margin-top: 1%;
  background-color: #1597BB;
}
